#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 8rem;
    
  }
  .title{
    margin-bottom: 2rem;
  }
  
  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(0, 0, 0) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .contact-info-container p {
    font-size: larger;
  }
  
  .contact-icon {
    cursor: default;
  }
  
  .email-icon {
    height: 2.5rem;
  }

  .upiimg{
    height: 500px;
    width: 500px;
  }

  
 

  .contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    
    height: 100vh;
    /* margin-bottom: 12rem; */
}

form {
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: 50%; /* Adjusted width to take up half of the screen */
    text-align: center; /* Center align the content within the form */
}

input,
textarea {
    width: 100%;
    padding: 24px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 18px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}



@media (max-width: 600px) {
    
form {
  width: 80%;
  
}

#section{
  margin-bottom: 56rem;
}

.contactContainer{
  flex-direction: column;
  /* height: 100vh; */
  /* margin-bottom: 25rem; */

}
.upiimg{
  width: 250px;
  margin-top: 200px;
}
.shriram{
  margin-top: 10rem;
}

}
