#about {
    position: relative;
  }
  
  .about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    /* margin-top: 2rem; */
  }
  
  .about-details-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .about-containers,
  .about-details-container {
    display: flex;
  }
  
  .about-pic {
    border-radius: 2rem;
  }
  
  .arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
  }
  
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }

  .text-container p{
    color: black;
    font-size: 25px;
  }
  
  .section__pic-container {
    height: 600px;
    width: 600px;
    margin: auto 0;
  }
  


  @media only screen and (max-width: 500px) {
    #section {
      height: 63vh;
      margin-bottom: 0;
    }
    .section-container {
      flex-direction: column; /* Stack elements vertically */
      align-items: center; /* Center elements horizontally */
    }
  
    .about-pic {
      width: 100%; /* Occupy full width */
      max-width: 300px; /* Limit image width for smaller screens */
      height: auto; /* Ensure image scales properly */
      /* margin-bottom: 2rem; */
    }
    .about-details-container{
      margin-top: 2rem;
    }
  }